<div class="container">
  <div class="">
    <h2 class="text-center display-4">Chat Appへようこそ</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
      <h1 class="h3 mb-3 font-weight-normal text-center">ログイン</h1>
      <div class="field form-group ">
        <%= f.label :ユーザ名, class:"form-label col-form-label col-form-label-lg"%><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control form-control-lg" %>
      </div>

      <div class="field form-group">
        <%= f.label :パスワード, class:"form-label col-form-label col-form-label-lg" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-lg"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group text-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block" %>
      </div>

      <%= render "devise/shared/links"%>
    <% end %>

  </div>
</div>
