<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <%# <%= link_to "読書記録管理", home_path, class:"navbar-brand" %>
      <div class="h2 text-white">Masatoshi☆恒見の恋愛相談の部屋</div>
      <ul class="nav">
        <li>
            <% unless user_signed_in? %>
            <%= link_to 'サインアップ', new_user_registration_path, class:"btn btn-primary text-white my-2 my-sm-0"%>
            <% else %>
            <%= link_to 'サインアウト', destroy_user_session_path, method: 'delete', class:"btn btn-primary text-white my-2 my-sm-0"%>
            <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>

  <% if flash.notice %>
    <p class="notice"><%= flash.notice %></p>
  <% end %>
  <p class="alert"><%= alert %></p>

  <%= yield %>
  
  </body>
</html>
